<mat-toolbar>
  <span>Welcome to My Profile</span>
  <span style="flex: 1 1 auto"></span>
  <button mat-raised-button>
    Example code
    <mat-icon>code_blocks</mat-icon>
  </button>
</mat-toolbar>
<div class="row pt-4 pb-4 border-bottom border-3">
  <div class="col-12 justify-content-center align-items-center d-flex">
    <img
      [src]="(profileDetail$ | async)?.image?.url"
      style="border-radius: 20px; border: 2px solid white; max-width: 500px"
      [hidden]="imageLoading"
      (load)="onImageLoaded()"
      width="50%"
    />
    <mat-spinner *ngIf="imageLoading"></mat-spinner>
  </div>
</div>
<div class="row">
  <div class="col-12 text-center fw-bold p-4 text-white text-border-black">
    About Me
  </div>
  <div class="col-12 text-center fw-bold p-4 text-white text-border-black">
    Satid Sompradit
  </div>
  <div class="col-12 col-md-6 col-lg-4 p-4">
    <mat-card style="height: 100%">
      <mat-card-header>
        <mat-card-title>Position applied for</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <mat-list class="col-12">
            <mat-list-item
              *ngFor="let item of (profileDetail$ | async)?.position"
            >
              {{ item }}
            </mat-list-item>
          </mat-list>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-12 col-md-6 col-lg-4 p-4">
    <mat-card style="height: 100%">
      <mat-card-header>
        <mat-card-title>Education</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item
            style="border-color: #db3d3d !important"
            class="border-bottom border-2"
            *ngFor="let item of (profileDetail$ | async)?.educationList"
          >
            <span matListItemTitle>{{ item.name }}</span>
            <span matListItemLine>{{ item.time }}</span>
            <span matListItemLine>{{ item.branch }}</span>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-12 col-md-6 col-lg-4 p-4">
    <mat-card style="height: 100%">
      <mat-card-header>
        <mat-card-title>Qualification</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <ul
            class="col-12 mt-4 ps-4 fs-6"
            *ngFor="let item of (profileDetail$ | async)?.qualificationList"
          >
            <li>{{ item }}</li>
          </ul>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
